@-webkit-keyframes text-in-animation {
    0% {
        opacity: 0;
        transform: translate3d(0,2.29167rem,0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes text-in-animation {
    0% {
        opacity: 0;
        transform: translate3d(0,2.29167rem,0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@font-face {
    font-family: Mabry;
    font-display: swap;
    src: url(../fonts/mabry-regular.woff2) format("woff2"),url(../fonts/mabry-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Mabry;
    font-display: swap;
    src: url(../fonts/mabry-regular-italic.woff2) format("woff2"),url(../fonts/mabry-regular-italic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Mabry;
    font-display: swap;
    src: url(../fonts/mabry-medium.woff2) format("woff2"),url(../fonts/mabry-medium.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Mabry;
    font-display: swap;
    src: url(../fonts/mabry-medium-italic.woff2) format("woff2"),url(../fonts/mabry-medium-italic.woff) format("woff");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Mabry;
    font-display: swap;
    src: url(../fonts/mabry-bold.woff2) format("woff2"),url(../fonts/mabry-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Mabry;
    font-display: swap;
    src: url(../fonts/mabry-bold-italic.woff2) format("woff2"),url(../fonts/mabry-bold-italic.woff) format("woff");
    font-weight: 700;
    font-style: italic
}

html {
    display: block;
    position: relative;
    width: 100%;
    background: #fff;
    color: #030314;
    font-size: calc(10px + .3vw);
    font-family: Mabry,verdana,sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility
}

.html__dark {
    background: #030314
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none
}

.key-input :focus {
    outline: 1px dotted #ff6675
}

::-moz-selection {
    color: #fff;
    background: #4f36e8
}

::selection {
    color: #fff;
    background: #4f36e8
}

img {
    border: none
}

.social {
    display: flex;
    justify-content: space-between
}

.social__site {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: .125rem;
    margin: 0 -.125rem
}

.social__site:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: .125rem .125rem;
    background-color: #ff6675;
    background-repeat: no-repeat;
    width: 0;
    transition: width .2s ease-out
}

@supports (-webkit-touch-callout:none) {
    .social__site:after {
        transition: none
    }
}

.social__site--instagram {
    width: 2rem
}

.social__site--instagram:after {
    background-size: 2rem 2rem;
    background-image: url(../dist/images/social/black/instagram.svg)
}

.social__site--linkedin {
    width: 2rem
}

.social__site--linkedin:after {
    background-size: 2rem 2rem;
    background-image: url(../dist/images/social/black/linkedin.svg)
}

.social__site--facebook {
    width: 2.01544rem
}

.social__site--facebook:after {
    background-size: 2.01544rem 2rem;
    background-image: url(../dist/images/social/black/facebook.svg)
}

.social__site--youtube {
    width: 2.90323rem
}

.social__site--youtube:after {
    background-size: 2.90323rem 2rem;
    background-image: url(../dist/images/social/black/youtube.svg)
}

.social__site--twitter {
    width: 2.31214rem
}

.social__site--twitter:after {
    background-size: 2.31214rem 2rem;
    background-image: url(../dist/images/social/black/twitter.svg)
}

.key-hover .social__site:focus:after,.mouse-hover .social__site:hover:after {
    width: 100%
}

.social__icon {
    display: block;
    height: 2rem;
    width: auto
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
    width: 100%;
    height: 5.72917rem;
    padding: 0 calc(50% - 42.39583rem);
    background: #fff;
    box-shadow: 0 -2rem 1rem 2rem rgba(0,0,0,.1);
    transform: translateZ(1px)
}

.header__toggle {
    flex: 0 0 auto;
    position: absolute;
    top: 2.00521rem;
    right: 2.29167rem;
    z-index: 2;
    display: none;
    width: 1.71875rem;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background: transparent;
    cursor: pointer
}

.header__menu {
    display: block;
    width: 1.71875rem;
    height: auto;
    margin: 0
}

.header__nav {
    flex: 0 0 33.22917rem;
    margin: 0 2.29167rem 0 0
}

.header__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0
}

.header__item {
    flex: 0 0 auto;
    margin: 0
}

.header__item--home {
    display: none
}

.header__home {
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto 0 2.29167rem;
    color: inherit;
    text-decoration: none;
    font-size: 1.375rem;
    line-height: 3.4375rem
}

.header__logo {
    display: block;
    width: 5.72917rem;
    height: auto
}

.header__link {
    flex: 0 0 auto;
    display: block;
    padding: .25rem 0 0;
    border-bottom: .25rem solid transparent;
    color: inherit;
    text-decoration: none;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2rem;
    transition: color .2s ease-out
}

.key-hover .header__link:focus,.mouse-hover .header__link:hover {
    color: #4f36e8
}

@supports (-webkit-touch-callout:none) {
    .header__link {
        transition: none
    }
}

.header__link--current {
    border-color: #4f36e8
}

.container {
    max-width: 80.20833rem;
    margin: 0 auto;
    padding: 0 2.29167rem
}

.footer {
    background: #030314;
    color: #fff
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 5.72917rem 2.29167rem
}

.footer__copy {
    flex: 0 0 auto;
    width: calc(33.33333% - 1.52778rem);
    margin: 0 calc(8.33333% + 2.48264rem) 0 calc(8.33333% + .19097rem)
}

.footer__heading {
    margin: -.375rem 0 0;
    padding: 0 0 1.14583rem;
    font-size: 4.46875rem;
    line-height: 4.58333rem
}

.footer__p {
    margin: 1.14583rem 0 0;
    font-size: 1.375rem;
    line-height: 2.29167rem
}

.footer__acknowledgement {
    width: 100%;
    margin: 3.95313rem 0 0;
    font-size: 1.16875rem;
    line-height: 2.29167rem
}

.footer__contact {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(41.66667% - 1.33681rem);
    padding: .57292rem 0 0;
    font-size: 1.375rem;
    font-style: normal
}

.footer__link {
    position: relative;
    display: block;
    margin: 0 0 2.29167rem;
    padding: 0 0 0 3.4375rem;
    text-decoration: none;
    font-size: 1.375rem;
    line-height: 2.29167rem
}

.footer__link--email:after,.footer__link--email:before {
    content: "";
    display: block;
    position: absolute;
    top: .5rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain
}

.footer__link--email:before {
    background-image: url(../dist/images/email.svg)
}

.footer__link--email:after {
    background-image: url(../dist/images/email-neon.svg);
    opacity: 0;
    transition: opacity .2s ease-out
}

.footer__link--place:after,.footer__link--place:before {
    content: "";
    display: block;
    position: absolute;
    top: .25rem;
    left: 0;
    width: 1.75rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain
}

.footer__link--place:before {
    background-image: url(../dist/images/place.svg)
}

.footer__link--place:after {
    background-image: url(../dist/images/place-neon.svg);
    opacity: 0;
    transition: opacity .2s ease-out
}

.footer__link--phone:after,.footer__link--phone:before {
    content: "";
    display: block;
    position: absolute;
    top: .25rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain
}

.footer__link--phone:before {
    background-image: url(../dist/images/phone.svg)
}

.footer__link--phone:after {
    background-image: url(../dist/images/phone-neon.svg);
    opacity: 0;
    transition: opacity .2s ease-out
}

@supports (-webkit-touch-callout:none) {
    .footer__link--phone:after {
        transition: none
    }
}

.key-hover .footer__link:focus:after,.mouse-hover .footer__link:hover:after {
    opacity: 1
}

.key-hover .footer__link:focus>.footer__label,.mouse-hover .footer__link:hover>.footer__label {
    background-position: -100% 0
}

.footer__label {
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0) 50%,#ff6675 0);
    background-position: 0 0;
    background-size: 200% auto;
    transition: color .333s ease-in-out,background-position .333s cubic-bezier(.37,0,.63,1);
    color: #fff
}

.footer__label--address {
    white-space: nowrap;
    word-wrap: break-word;
    transition: color .333s ease-in-out,background-position .666s cubic-bezier(.37,0,.63,1)
}

@supports (-webkit-touch-callout:none) {
    .footer__label {
        transition: none
    }
}

.footer__social {
    width: 100%;
    margin: 1.71875rem 0 0
}

.footer__legal {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-end;
    width: calc(83.33333% - .38194rem);
    margin: 3.4375rem calc(8.33333% + .19097rem) 0;
    font-size: 1.375rem;
    line-height: 1.14583rem
}

.footer__home {
    flex: 0 0 auto;
    display: block;
    margin: 0 1.14583rem 0 0
}

.footer__logo {
    display: block;
    width: auto;
    height: 2.86458rem
}

.footer__copyright {
    flex: 0 0 auto;
    padding: 0 1rem 0 0;
    border-right: 2px solid #fff;
    margin: 0 1rem 0 0
}

.footer__disclaimer {
    flex: 0 0 auto;
    color: #fff;
    text-decoration: none
}

@media (max-width: 800px) {
    .footer__inner {
        display:block
    }

    .footer__copy {
        width: auto;
        margin: 0 calc(10% + .22917rem)
    }

    .footer__contact {
        width: auto;
        margin: 5.72917rem calc(10% + .22917rem) 0
    }

    .footer__social {
        margin: 2.29167rem 0 0
    }

    .footer__legal {
        margin: 3.4375rem calc(10% + .22917rem) 0
    }
}

@media (max-width: 640px) {
    .footer__inner {
        padding:5.72917rem 2.29167rem 2.29167rem
    }

    .footer__copy {
        margin: 0;
        width: 100%
    }

    .footer__link {
        position: relative;
        margin: 0 0 2.29167rem;
        padding: 0 0 0 3.4375rem;
        text-decoration: none;
        font-size: 1.83333rem;
        line-height: 2.29167rem
    }

    .footer__contact {
        width: 100%
    }

    .footer__contact,.footer__legal {
        margin: 3.4375rem 0 0
    }
}

@media (max-width: 600px) {
    .header--open>.header__nav {
        height:100vh;
        transition: none
    }

    .header--open>.header__nav:before {
        opacity: .7
    }

    .header--open>.header__nav>.header__list {
        visibility: visible;
        height: 41.25rem
    }

    .header--open>.header__nav>.header__list>.header__item {
        transform: translateX(0);
        opacity: 1
    }

    .header--open>.header__nav>.header__list>.header__item:first-child {
        transition: all .35s ease-out
    }

    .header--open>.header__nav>.header__list>.header__item:nth-child(2) {
        transition: all .4s ease-out
    }

    .header--open>.header__nav>.header__list>.header__item:nth-child(3) {
        transition: all .45s ease-out
    }

    .header--open>.header__nav>.header__list>.header__item:nth-child(4) {
        transition: all .5s ease-out
    }

    .header--open>.header__nav>.header__list>.header__item:nth-child(5) {
        transition: all .55s ease-out
    }

    .header--open>.header__nav>.header__list>.header__item:nth-child(6) {
        transition: all .6s ease-out
    }

    .header__toggle {
        display: block
    }

    .header__nav {
        height: 0;
        transition: height 0s .5s
    }

    .header__nav,.header__nav:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%
    }

    .header__nav:before {
        content: "";
        height: 100%;
        background: #030314;
        opacity: 0;
        transition: opacity .5s ease-in-out
    }

    .header__list {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        visibility: hidden;
        width: 100%;
        height: 0;
        background: #030314;
        overflow: hidden;
        pointer-events: none;
        transition: height .5s cubic-bezier(.215,.61,.355,1),visibility .5s
    }

    .header__list:before {
        content: "";
        display: block;
        height: 5.72917rem;
        border-left: 2.29167rem solid transparent;
        border-right: 2.29167rem solid transparent;
        background-color: #4f36e8;
        background-image: url(../dist/images/S1T2-white.svg),url(../dist/images/close.svg);
        background-repeat: no-repeat;
        background-size: 5.72917rem auto,1.71875rem auto;
        background-position: 0,100%
    }

    .header__item {
        opacity: 0;
        transform: translateX(-5.72917rem);
        transition: opacity .4s ease-out,transform 0s .5s
    }

    .header__item--home {
        display: block
    }

    .header__link {
        position: relative;
        color: #fff;
        font-size: 2.5rem;
        line-height: 5.72917rem;
        margin: 0;
        padding: 0 2.29167rem;
        border: none;
        pointer-events: auto;
        background-image: url(../dist/images/arrow-neon.svg)
    }

    .header__link,.header__link:after {
        display: block;
        background-position: calc(100% - 2.29167rem) 2.00521rem;
        background-size: 1.71875rem auto;
        background-repeat: no-repeat
    }

    .header__link:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 0 0 0 2.29167rem;
        color: #030314;
        background-color: #ff6675;
        background-image: url(../dist/images/arrow-black.svg);
        -webkit-clip-path: polygon(0 0,0 0,0 100%,0 100%);
        clip-path: polygon(0 0,0 0,0 100%,0 100%);
        transition: -webkit-clip-path .3s ease-out;
        transition: clip-path .3s ease-out;
        transition: clip-path .3s ease-out,-webkit-clip-path .3s ease-out
    }

    @supports (-webkit-touch-callout:none) {
        .header__link:after {
            transition: none
        }
    }

    .key-hover .header__link:focus,.mouse-hover .header__link:hover {
        color: #fff
    }

    .key-hover .header__link:focus:after,.mouse-hover .header__link:hover:after {
        -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%)
    }

    @supports (-webkit-touch-callout:none) {
        .header__link {
            transition: none
        }
    }
}

@media (max-width: 300px) {
    .footer__legal {
        display:block
    }

    .footer__home {
        margin: 0 0 1.14583rem
    }
}
